{% extends "::base.html.twig" %}

{% block title %}EsenioSecurityBundle:TokenAuthenticationController:authenticate{% endblock %}

{% block body %}
<h1>Welcome to the TokenAuthenticationController:authenticate page</h1>
{% endblock %}
